@font-face {
  font-family: IronBrine;
  src: url(assets/Fonts/iron_brine/Iron\ &\ Brine.ttf);
}

@font-face {
  font-family: LuloClean;
  src: url(assets/Fonts/lulo-clean/Lulo\ Clean\ One.otf);
}

@font-face {
  font-family: LuloCleanBold;
  src: url(assets/Fonts/lulo-clean/Lulo\ Clean\ One\ Bold.otf);
}

.navbar {
  /* background-color: #740010!important; */
  background-color: transparent !important;
  color: #000 !important;
}

.hero {
  height: 130vh;
  background: url("/assets/MF-3.jpg") no-repeat fixed;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.hero nav a {
  font-family: LuloCleanBold;
}

.hero p {
  font-size: 72px;
  letter-spacing: 12px;
  font-family: IronBrine;
}

@media screen and (max-width: 768px) {
  .hero p {
    font-size: 48px;
  }
}

@media screen and (max-width: 425px) {
  .hero {
    background-attachment: scroll;
  }
  .hero p {
    font-size: 32px;
  }
}

.hero small {
  letter-spacing: 8px;
  font-family: IronBrine;
  color: rgba(255, 255, 255, 0.5);
}

.hr3 {
  border: 0 dotted;
  height: 2px;
  background-image: linear-gradient(to right, transparent, #ccc, transparent);
}

#streaming {
  top: 25% !important;
  margin-right: 10px;
  border-radius: 10px;
}
.social-media {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.social-media li {
  list-style: none;
  border-radius: 10px;
  background-color: transparent;
  padding: 0.5rem;
}

.social-media li a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 100%;
}

.scroll-down {
  padding: 0.5rem 0.75rem;
  margin-top: 5rem;
  border-radius: 50%;
  background: transparent;
  border: 1px solid white;
  text-decoration: none;
  color: white;
}

.scroll-down:hover {
  color: black;
  background: white;
  transition: 0.4s ease;
}

.playlist {
  margin-top: 3rem;
  width: 100%;
  height: 80px;
}

.merch-card {
  width: 100%;
  padding: 1rem;
}

.merch-card button {
  outline: none;
  border: 1px solid white;
  border-radius: 7px;
  padding: 0.25rem 0.75rem;
  font-size: 18px;
}

.site-footer {
  background: black;
}
.site-footer div {
  color: white;
}
.site-footer img {
  margin-top: 5px;
}

.vidBtn {
  width: 240px;
  background-color: #740010;
  color: white;
}

.vidBtn:focus {
  opacity: 0.8;
  color: white;
  border-color: #740010;
}
.vidBtn:hover {
  opacity: 0.8;
  color: white;
  border-color: #740010;
}

.tourBtn {
  width: 150px;
  color: white;
  background-color: #740010;
}
.tourBtn:hover {
  background-color: #740010;
}

/* window.open(
  'https://google.com',
  '_blank' // <- This is what makes it open in a new window.
); */

#main {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
    url("/assets/cosita.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
